<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pragprog Books Online Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-green-700 p-4 flex items-center gap-4">
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf', class: 'h-12' %>
      <h1 class="text-white text-2xl font-bold"><%= @page_title || "Depot" %></h1>
    </header>

    <section class="flex mt-4">
      <nav class="bg-green-900 p-6 w-64 text-gray-100">
        <%= render partial: 'layouts/cart', locals: {cart:@cart} %>

        <ul class="space-y-2">
          <li><a href="/" class="hover:underline">Home</a></li>
          <li><a href="/questions" class="hover:underline">Questions</a></li>
          <li><a href="/news" class="hover:underline">News</a></li>
          <li><a href="/contact" class="hover:underline">Contact</a></li>
        </ul>
      </nav>

      <main class="flex-1 container mx-auto px-5">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
